@import "nib"
@import "normalize.styl"
@import "fonts.styl"

azul_oscuro = #31363D

body
	font-size 16px
header
	background azul_oscuro
a
	text-decoration none
.relative
	position relative	
.menu
	display none
.btn-menu
	color white
	font-size 2.5em	
.me
	position relative	
.about-me
	background azul_oscuro
	color white
.center
	text-align center
.txt-1
	font-size 1.3em
.txt-2
	margin-top 0
	margin-bottom 0
.slide-arrow
	color white
	font-size 3em
.arrow
	background rgba(black, 0.1)
	border-radius 50%
	width 50px
	transition background .40s ease-in-out
.arrow:hover
	background rgba(white, 0.1)
	width 60px
	.slide-arrow
		font-size 3.5em		
.arrow-left
	position absolute
	top 40%
	left 0
.arrow-right
	position absolute
	top 40%
	right 0		